* {
    font-family: 'Times New Roman', Times, serif;
}

img {
    margin-top: auto;
}

.container, .row {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}